<%- include ./partials/head.ejs %>
<h1>
   Oops! 404. Page not found!
</h1>

<img src="/img/lost.png" alt="Hank standing, https://www.jamiesale-cartoonist.com/wp-content/uploads/hank-2-1024x1024.png" class="hank">

<a href="/breakingbad" class="lostlink"> Click here to go back</a>


<%- include ./partials/footer.ejs %>