<%- include ./partials/head.ejs %>
<h1>
   Deze pagina is niet gevonden
</h1>

<img src="/img/lost.png" alt="Hank standing, https://www.jamiesale-cartoonist.com/wp-content/uploads/hank-2-1024x1024.png" class="hank">

<a href="/breakingbad" class="lostlink"> Klik hier om terug te gaan</a>


<%- include ./partials/footer.ejs %>