<%- include ./partials/head.ejs %>

<h1>The website is offline</h1>
<img src="img/hiding2.png" alt="jesse and walt hiding, https://www.jamiesale-cartoonist.com/wp-content/uploads/sofa-2-1024x1024.png" class="offline">
<h2>Check your internet connection</h2>

<%- include ./partials/footer.ejs %>