/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Algemene styling*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Achtergrond styling */
body {

    background-image: url("../img/background.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 120vh;
    background-color: white;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Styling van de begin tekst */
p {
    margin: 0 auto;
    display: block;
    width: 80%;
    max-width: 40em;
    text-align: center;
    font-size: 1em;
    margin-bottom: 2em;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Styling van de tekst */
h1 {
    text-align: center;
    font-size: 3em;
}

a {

    font-weight: 800;
    margin-bottom: 1em;
    font-size: 1.5em;
}

h2 {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#footertekst{
    margin: 0 auto;
    text-align: center;
    margin-top: 2em;
}

.indexposter:hover {
    transform: scale(1.2);
    transition: all .2s ease
}