@media only screen and (max-width: 800px) {

    section {
        display: block;
    }

    img {
        width: 75%;
        min-width: 200px;
    }

    .seasonlink {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
        padding: 2.5em;
    }

    #nav {
        font-size: 0.75em;
        background-color: #026635;
        text-align: center;
        height: 3em;
        margin-bottom: 4em;
        width: 100vw;
        position: fixed;
    }

    #breakingbadNav {
        margin-right: 50px;
    }

    #nav a:hover {
        color: #D04848;
    }

    #nav>a {
        font-size: 19px;
    }

    table:nth-child(even) {
        width: 85%;
        max-width: 450px;
    }

    h1 {
        font-size: 2.5em;
    }

    .serienaam {
        padding-top: 1em;
    }

    .seizoen {
        padding-top: 2em;
    }
}